/* General Styles */

/*color codes*/
/*beige: #e5dac5*/
/*dark: #040707*/

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: #f2ece4;
    color: #4c4f69;
}

/* Navbar Styling */
.navbar-brand, .nav-link {
    font-weight: 700;
    color: #e5dac5 !important;
}

/* Landing Section */
#landing {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), no-repeat center center/cover;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#landing img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    padding: 1rem;
}

#landing h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    color: #d4a08c;
}

#landing h2 {
    font-size: 1.5rem;
    color: #e7c7b5;
}

/* Section Spacing */
#projects, #tools {
    padding: 100px 0;
}

#projects h2, #tools h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 40px;
    color: #d4a08c;
}

.card {
    margin-bottom: 30px;
    background-color: #e7c7b5;
    color: #4c4f69;
}

/* Tools Section */
#tools img {
    height: 100px;
    width: 100px;
}

/* Contact Section */
#contact {
    background-color: #261515;
    padding: 10px 0;
}

.contact-form .form-control {
    border-radius: 0;
}

textarea {
    resize: none;
}

/* Button Styling */
.btn-primary {
    background-color: #e5d4aa;
    border: none;
    color: #261515;
}

.btn-primary:hover {
    background-color: #d4a08c;
}

/* Social Icons */
#contact-icons i {
    font-size: 50px;
    color: #e7c7b5;
    margin: 0 10px;
    transition: transform 0.3s ease, color 0.3s ease;
}

#contact-icons i:hover {
    color: #d4a08c;
    transform: scale(1.3);
}
